.wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
a{
  padding-right: 10px;
}
a:hover{
  text-decoration: none;
}
#navCont{
  position: relative;
}
#navCont .navBarItem:after {
  content: '';
  display: block;
  border-bottom: 3px solid white;
  width: 0;
  position: absolute;
  right: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#navCont .navBarItem:hover:after {
  width: 100%;
}

.highlight:before{
  content: '';
  display: block;
  border-bottom: 3px solid white;
  position: absolute;
  right: 0;
  width: 0;
  animation: highlight_anim ease 0.3s forwards


}
@keyframes highlight_anim {
  from{width: 0;}
  to{width: 100%}
}

